<div class="span12">
  <%= simple_form_for(@slide, :html => {:class => 'form-horizontal'}) do |f| %>
      <fieldset>
        <legend><%= @slide.new_record? ? '添加幻灯图片' : '编辑幻灯图片' %></legend>
        <%= f.input :rank %>
        <%= f.input :image_url, input_html: {class: 'input-xxlarge'} %>
        <%= f.input :click_url, input_html: {class: 'input-xxlarge'} %>
        <div class="form-actions">
          <%= f.submit @slide.new_record? ? '添加' : '保存', class: 'btn' %>
        </div>
      </fieldset>
  <% end %>
</div>