<table class="table table-striped">
  <thead>
  <tr>
    <th>排序</th>
    <th>图片</th>
    <th>链接地址</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.rank %></td>
        <td><img src="<%= slide.image_url %>" alt="" style="max-width: 300px;"/></td>
        <td><%= slide.click_url %></td>
        <td>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_slide_path(slide) %>
          <%= link_to '<i class="icon-remove"></i>'.html_safe, slide_path(slide), method: :delete, data:{confirm: '确定要删除？'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>