<% if flash %>
    <% flash.each do |k, v| %>
        <div class="alert alert-<%= k %>">
          <input type="button" class="button close" value="×" data-dismiss="alert">

          <p><%= v %></p>
        </div>
    <% end %>
<% end %>