<div id="sortableId1" style="width:190px; float:left; text-align:center; background:#FFF; line-height: 36px; font-weight: bold; color: #666;">
  <div style="height: 550px; margin-bottom: 20px; overflow: hidden;">
    <div style="height: 350px;">
      <% if Setting.notice != '' %>
      <img src="<%= Setting.notice %>"/>
      <% end %>
      <% if Setting.collect != '' %>
          <a href="http://favorite.taobao.com/popup/add_collection.htm?id=67218909&itemid=67218909&itemtype=0&ownerid=693221d2543d4959880ac12b9e95230c&scjjc=2&_tb_token_=f70305de64459" target="_blank"><img src="<%= Setting.collect %>"/></a>
      <% end %>
    </div>
    <div style="font-size: 12px; font-weight: normal; text-align: left; margin-top: 20px;">
      <h4 style="line-height: 18px;">
        <a href="http://miaodeguodu.taobao.com/search.htm" target="_blank" style="color: #666; font-size: 12px;">查看所有宝贝&gt;&gt;</a>
      </h4>
      <a href="http://miaodeguodu.taobao.com/search.htm?orderType=_hotsell" target="_blank" style="color: #000;">按销量</a>&nbsp;
      <a href="http://miaodeguodu.taobao.com/search.htm?orderType=_newOn" target="_blank" style="color: #000;">按新品</a>&nbsp;
      <a href="http://miaodeguodu.taobao.com/search.htm?orderType=price" target="_blank" style="color: #000;">按价格</a>&nbsp;
      <a href="http://miaodeguodu.taobao.com/search.htm?orderType=_hotkeep" target="_blank" style="color: #000;">按收藏</a>
      <div style="line-height: 30px;"><strong>巴厘岛木猫QQ群:</strong> 246580818</div>
      <h4 style="color: #666; font-size: 12px; line-height: 16px;">在线咨询</h4>
      喵De国&deg;客服1：<a title="点击这里给我发消息" href="http://www.taobao.com/webww/?ver=1&amp;&amp;touid=cntaobaotinylian&amp;siteid=cntaobao&amp;status=2" target="_blank"><img src="http://img.im.alisoft.com/actions/wbtx/wangwang/1/online.gif"></a><br/>
      喵De国&deg;客服2：<a title="点击这里给我发消息" href="http://www.taobao.com/webww/?ver=1&amp;&amp;touid=cntaobaotinylian&amp;siteid=cntaobao&amp;status=2" target="_blank"><img src="http://img.im.alisoft.com/actions/wbtx/wangwang/1/online.gif"></a><br/>
    </div>
  </div>
  <% @items.each do |item| %>
      <% if item.cell == 1 %>
          <div style="height:310px; overflow:hidden;" class="connectedSortable">
            <a href="<%= item.click_url %>" target="_blank"><img src="<%= item.image_url %>" width="100%"></a>
            <br><%= item.short_title.blank? ? '' : "#{item.short_title}&nbsp;".html_safe %><%= item.price.blank? ? '&nbsp;'.html_safe : "RMB: #{item.price}" %>
          </div>
      <% end %>
  <% end %>
</div>
