<div style="width:750px;height:350px;" class="slide-preview">
  <% if Slide.order('rank ASC').first %>
        <% if Slide.order('rank ASC').first.click_url.blank? %>
            <img src="<%= Slide.order('rank ASC').first.image_url %>"/>
        <% else %>
            <a href="<%= Slide.order('rank ASC').first.click_url %>" target="_blank"><img src="<%= Slide.order('rank ASC').first.image_url %>"/></a>
        <% end %>
  <% end %>
</div>
<div style="float:left;width:750px;margin-top:20px;text-align:center;background:#FFF;line-height:36px;font-weight:bold; color:#666;">
  <div style="height: 160px;">
    <img src="<%= Setting.intro %>" width="750px" height="160px">
  </div>
  <div style="height:40px; width:750px;">&nbsp;</div>
  <!-- 第1列 -->
  <div style="width:304px; float:left;" id="sortableId2">
    <% @items.each do |item| %>
        <% if item.cell == 2 %>
            <div style="height:310px;overflow:hidden;">
              <div style="width:52px; float:left;"><img src="<%= item.left_background %>"></div>
              <div style="width:190px; float:left;" class="connectedSortable">
                <a href="<%= item.click_url %>" target="_blank"><img src="<%= item.image_url %>" style="width:100%;"></a>
                <br><%= item.short_title.blank? ? '' : "#{item.short_title}&nbsp;".html_safe %><%= item.price.blank? ? '&nbsp;'.html_safe : "RMB: #{item.price}" %>
              </div>
              <div style="width:52px; float:right;"><img src="<%= item.right_background %>"></div>
            </div>
        <% end %>
    <% end %>
  </div>
  <!-- 第2列 -->
  <div style="width:252px;float:left;" id="sortableId3">
    <% @items.each do |item| %>
        <% if item.cell == 3 %>
            <div style="height:310px;overflow:hidden;">
              <div style="width:190px; float:left;" class="connectedSortable">
                <a href="<%= item.click_url %>" target="_blank"><img src="<%= item.image_url %>" style="width:100%;"></a>
                <br><%= item.short_title.blank? ? '' : "#{item.short_title}&nbsp;".html_safe %><%= item.price.blank? ? '&nbsp;'.html_safe : "RMB: #{item.price}" %>
              </div>
              <div style="width:52px; float:right;"><img src="<%= item.right_background %>"></div>
            </div>
        <% end %>
    <% end %>
  </div>
  <!-- 第3列 -->
  <div style="width:190px; float:left;" id="sortableId4">
    <% @items.each do |item| %>
        <% if item.cell == 4 %>
            <div style="height:310px;overflow:hidden;">
              <div style="width:190px;float:left;" class="connectedSortable">
                <a href="<%= item.click_url %>" target="_blank"><img src="<%= item.image_url %>" style="width:100%;"></a>
                <br><%= item.short_title.blank? ? '' : "#{item.short_title}&nbsp;".html_safe %><%= item.price.blank? ? '&nbsp;'.html_safe : "RMB: #{item.price}" %>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>