<div class="span10">
  <!-- 左边 -->
  <%= render 'shares/left_tpl', :items => @items %>

  <div style="float:left; width: 10px; height: 500px;">&nbsp;</div>
  <!-- 右边 -->
  <%= render 'shares/right_tpl', {:items => @items, :isPreviewTogether => true} %>

</div>
<div class="span10">
  <hr>
  <div style="text-align: right"><a href="javascript:void(0)" onclick="new_sort()" class="btn btn-primary input-large">排序</a></div>
  <hr>
</div>
<script type="text/javascript">
    $(function () {
        $(".connectedSortable").sortable({
            connectWith:".connectedSortable"
        }).disableSelection();
    });
    function new_sort() {
        var sort1 = [];
        var sort2 = [];
        var sort3 = [];
        var sort4 = [];
        $("#sortableId1").find(".connectedSortable").find('img').each(function () {
            sort1.push($(this).attr('src'));
        });
        $("#sortableId2").find(".connectedSortable").find('img').each(function () {
            sort2.push($(this).attr('src'));
        });
        $("#sortableId3").find(".connectedSortable").find('img').each(function () {
            sort3.push($(this).attr('src'));
        });
        $("#sortableId4").find(".connectedSortable").find('img').each(function () {
            sort4.push($(this).attr('src'));
        });
        $.ajax({
            url:'/items/rank',
            type:'POST',
            data:'image1_urls=' + sort1.join(',') + '&image2_urls=' + sort2.join(',') + '&image3_urls=' + sort3.join(',') + '&image4_urls=' + sort4.join(','),
            success:function () {
                window.location.reload();
            }
        });
    }
</script>
