<div class="span12">
  <%= simple_form_for(@setting, :html => {:class => 'form-horizontal'}) do |f| %>
      <fieldset>
        <legend><%= @setting.new_record? ? '添加' : '编辑' %></legend>
        <%= f.input :key, collection: Setting.types %>
        <%= f.input :value, input_html: {class: 'input-xxlarge'} %>
        <div class="form-actions">
          <%= f.submit @setting.new_record? ? '添加' : '保存', class: 'btn' %>
        </div>
      </fieldset>
  <% end %>
</div>