<table class="table table-striped">
  <thead>
  <tr>
    <th>名称</th>
    <th>图片</th>
  </tr>
  </thead>
  <tbody>
  <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.name %></td>
        <td><img src="<%= setting.value %>" alt="" style="max-width: 300px;"/></td>
        <td>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_setting_path(setting) %>
          <%= link_to '<i class="icon-remove"></i>'.html_safe, setting_path(setting), method: :delete, data:{confirm: '确定要删除？'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>