<%= link_to '获取左侧模板代码', 'javascript:void(0)', class: :btn, onclick: "getTpl('#{copy_left_tpl_codes_path}')" %>

<%= link_to '获取右侧模板代码', 'javascript:void(0)', class: :btn, onclick: "getTpl('#{copy_right_tpl_codes_path}')" %>

<hr>
<div id="preview" style="display: none;">
  <h3>模板代码</h3>

  <div>
    <textarea style="width:600px; height:100px" id="tpl_code"></textarea>
  </div>
  <hr>
  <h3>预览</h3>

  <div id="preview_body"></div>
</div>
<script type="text/javascript">
    function getTpl(url) {
        $.get(url, function (data) {
            var preview_data = data;
            data = data.replace(' class="slide-preview"', '');
            data = data.replace(new RegExp('class="connectedSortable"',"gm"), '');
            data = data.replace('id="sortableId1"', '');
            data = data.replace('id="sortableId2"', '');
            data = data.replace('id="sortableId3"', '');
            data = data.replace('id="sortableId4"', '');
            $('#tpl_code').val(data);
            $('#preview_body').html(preview_data);
            $('#preview').show();

            copyValue(data);
        });
    }

    function copyValue(strValue) {
        if (isIE()) {
            clipboardData.setData("Text", strValue);
            alert("^_^已成功复制");
        }
        else {
            alert("请在文本框内Ctrl+A Ctrl+C 复制");
        }
    }

    function isIE(number) {
        if (typeof(number) != number) {
            return!!document.all;
        }
    }
</script>