<div class="span12">
  <%= simple_form_for(@item, :html => {:class => 'form-horizontal'}) do |f| %>
      <fieldset>
        <legend><%= @item.new_record? ? '添加宝贝' : '编辑宝贝' %></legend>
        <%= f.input :cell, :collection => [%w(第1列 1),%w(第2列 2),%w(第3列 3),%w(第4列 4)] %>
        <%= f.input :sort %>
        <%= f.input :click_url, input_html: {class: 'input-xxlarge'} %>
        <%= f.input :image_url, input_html: {class: 'input-xxlarge'} %>
        <%= f.input :short_title %>
        <%= f.input :price %>
        <div class="form-actions">
          <%= f.submit @item.new_record? ? '添加' : '保存', class: 'btn' %>
        </div>
      </fieldset>
  <% end %>
</div>