<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>图片</th>
    <th>位置</th>
    <th>排序</th>
    <th>短标题</th>
    <th>价钱</th>
    <th>链接地址</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><img src="<%= item.image_url %>" alt="" style="max-width: 30px;"/></td>
        <td><%= item.cell %></td>
        <td><%= item.sort %></td>
        <td><%= item.short_title %></td>
        <td><%= item.price %></td>
        <td><%= item.click_url %></td>
        <td>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_item_path(item) %>
          <%= link_to '<i class="icon-remove"></i>'.html_safe, item_path(item), method: :delete, data:{confirm: '确定要删除？'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>