/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-responsive.min
*/

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.slide-preview {
    overflow: hidden;
    position: relative;
}

.slide-preview ul {
    padding: 0;
    margin: 0;
}

.slide-preview ul li {
    list-style: none;
}

.slide-preview img {
    width: 730px;
    height: 350px;
}

.slider-promo .lst-trigger {
    position: absolute;
    z-index: 10;
    bottom: 9px;
    right: 4px;
    height: 19px;
    line-height: 17px;
    color: white;
}

.slider-promo .lst-trigger li {
    float: left;
    margin-right: 5px;
    width: 17px;
    font-weight: 700;
    border: 1px solid white;
    background-color: #999;
    height: auto;
    line-height: inherit;
    text-align: center;
    cursor: pointer;
}

.slider-promo .lst-trigger .current {
    width: 22px;
    background-color: black;
}

.ww-large a {
    width: 67px;
}

.ww-light a {
    background: url(http://img04.taobaocdn.com/tps/i4/T1UPFAXnNfXXXXXXXX-130-60.gif) no-repeat 0 0;
    text-decoration: none !important;
    width: 20px;
    height: 20px;
    zoom: 1;
}