<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>喵De国°</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="http://miaodeguodu.taobao.com/">喵De国°</a>

      <div class="nav-collapse">
        <ul class="nav">
          <%= admin_nav %>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <% if @admin_left_menus.nil? %>
        <div class="span12">
          <%= render 'shares/flash_message' %>
          <%= yield %>
        </div>
    <% else %>
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <%= admin_left_menu %>
            </ul>
          </div>
        </div>
        <div class="span10">
          <%= render 'shares/flash_message' %>
          <%= yield %>
        </div>
    <% end %>
  </div>
</div>
</body>
</html>
